#header{
    background-color:rgba(193,117,121,255) ;
    
}

#h1{
    margin-left: 70px;
    margin-top: 20px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    
}


#button{
    color: white;
   margin-left: 1450px   ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
#category{
    background-color: rgb(171, 86, 144);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#button2,#button3{
    color: white;
}




